@{
    ViewBag.Title = "TasksList";
}

@using CRMProject.Models.ViewModels
@model IEnumerable<TaskBasicViewModel>

<div class="container">
    <div class="header-panel">
        <h2>Tasks</h2>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Responsible, deadline</th>
                <th>Content</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
            <tr>
                <td>@task.Title</td>
                <td>
                    <div class="media-body">
                        @if (!string.IsNullOrEmpty(task.ResponsibleUserName))
                        {
                            <span>@task.ResponsibleUserName</span>
                        }
                        <span>@task.Date</span>
                    </div>
                </td>
                <td>@task.Description</td>
                <td>@task.Priority</td>
            </tr>
            }
        </tbody>
    </table>
</div>
